<div class="form-wraper">
    {% if parent %}
    <h2>Ваш ответ на комментарий</h2>
    <p>{{ parent.short_comment_text }}</p>
    {% else %}
    <h2>Ваш комментарий к публикации</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            {% if user.is_authenticated %}
            Вы авторизированы как <strong>{{ user.username }}</strong>
        {% endif %}
    {% for field in form %}
        <div class="field-wrapper {{ field.name }}">
            {{ field.errors  }}
            {% if field  not in form.hidden_fields %}
                {{ field.label_tag }}
            {% endif %}
            {{ field  }}
            {% if field  not in form.hidden_fields and field.help_text %}
                <p class="help">{{ field.help_text|safe  }}</p>
            {% endif %}
        </div>
    {% endfor %}
    {% load antispam %}
    {% render_antispam_field %}
        </div>
        {% if user.is_anonymous %}
        <div class="achtung">
            Сообщения, содержащие спам, оскорбления, мат или не несущие в себе какого-либо смысла, будут удалены.
        </div>
        {% endif %}
        <input class="button button-primary" type="submit" value="Сохранить"></form>
</div>
