{% load i18n %}
<div class="form-wraper">
    {% if parent %}
    <h2>{% trans 'Your reply' %}</h2>
    <p>{{ parent.short_comment_text }}</p>
    {% else %}
    <h2>{% trans 'Your comment for the publication' %}</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            {% if user.is_authenticated %}
            {% trans 'You are logged in as' %} <strong>{{ user.username }}</strong>
        {% endif %}
    {% for field in form %}
        <div class="field-wrapper {{ field.name }}">
            {{ field.errors  }}
            {% if field  not in form.hidden_fields %}
                {{ field.label_tag }}
            {% endif %}
            {{ field  }}
            {% if field  not in form.hidden_fields and field.help_text %}
                <p class="help">{{ field.help_text|safe  }}</p>
            {% endif %}
        </div>
    {% endfor %}
        </div>
        {% if user.is_anonymous %}
        <div class="achtung">
            {% trans 'Messages containing spam, insults or not carrying any meaning, will be deleted.' %}
        </div>
        {% endif %}
        <input class="button button-primary" type="submit" value="{% trans 'Save' %}"></form>
</div>
