{% extends 'comments/mail_base.html' %}
{% block content %}
    К статье '<a href="{{ base_url }}{{ comment.get_absolute_url }}">{{ comment.content_object.title }}</a>' был добавлен новый комментарий.
    {% if comment.parent %}
    Данный комментарий является ответом на уже существующий:
    <blockquote>
    {{ comment.parent.comment|striptags|truncatechars:50 }}
    </blockquote>
    {% endif %}
<ul>
    <li><strong>Автор</strong>: {{ comment.name }}</li>
    <li><strong>IP отправителя</strong>: {{ comment.ip_address }}</li>
</ul>
<strong>Текст комментария</strong>:
    <div>
    {{ comment.comment }}
    </div>
{% endblock content %}
